.loading{
    height: 89.5%;
    width: 84.3%;
    position: absolute;
    background-color: var(--pure-white);
    top: 8rem;
    z-index: 1;

    .ant-spin-spinning {
        position: absolute!important;
        display: inline-block;
        opacity: 1;
        top: 45%;
        left: 50%;
        background: var(--pure-white);
    }
}

