.analytics {
  height: 100%;
  width: 100%;
  .heading {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  &-container {
    // height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem;
    overflow-y: scroll;
    height: 90%;
  

    &-performance {
      padding: 2rem;
      border: 1px solid var(--input-border);

      .heading {
        font-size: 2rem;
      }

      &-content {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        &-top {
          margin-top: 3rem;

          .headerButtons {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 2rem;
            gap: 2rem;
          }
        }

        &-bottom {
          .headerButtons {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 2rem;
            gap: 1rem;
          }
        }
      }
    }

    &-allTripsInsights {
      padding: 2rem;
      border: 1px solid var(--input-border);

      .heading {
        font-size: 2rem;
        margin-bottom: 3rem;
      }

      &-content {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        &-top {
          margin-top: 3rem;
          .cards {
            width: 100%;
            display: flex;
            gap: 2rem;
            // justify-content: space-between;
            .card {
              width: 25%;
              // height: 15rem;
              box-sizing: border-box;
              padding: 2em;
              border-radius: 25px;
              color: white;
              // line-height: 25px;
              box-shadow: 5px 5px 10px #ccc;
              float: left;
              margin-right: 1em;
              opacity: 0.9;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              p {
                display: inline;
                font-size: 4rem;
                font-weight: 500;
              }
              span {
                display: inline;
                font-size: 2rem;
              }
            }

            .card.purple {
              background: linear-gradient(150deg, #f731db, #4600f1 100%);
            }

            .card.green {
              background: linear-gradient(150deg, #39ef74, #4600f1 100%);
            }

            .card.blue {
              background: rgb(2, 0, 36);
              background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(33, 134, 242, 1) 33%,  rgba(0, 212, 255, 1)  100%);

           
            }
          }
        }

        &-bottom {
          margin-top: 8rem;
          display: flex;
          width: 100%;
          justify-content: space-between;
          // gap: 2rem;
          // flex-direction: row;
          flex-wrap: wrap;
          //  gap: 2rem;
           padding: 1em;


          .gender {
            // width: 20rem;
          }
        }
      }
    }
  }
}
